PORT = 8080
REACT_APP_URL = https://febookingcare.web.app
JWT_ACCESS_KEY = HOAIBAOTRINH
JWT_REFRESH_KEY = HOAIBAOTRINH
EMAIL_APP = baotrinh160120@gmail.com
EMAIL_PASSWORD = fqouujuejkouafqp
DB_HOST = bx6v7targo25hr0n5fqw-mysql.services.clever-cloud.com
DB_NAME = bx6v7targo25hr0n5fqw
DB_USER = uxfzmoks3dhugblz
DB_PASSWORD= odENWxLWGnHkFS2Nqopy
DB_PORT = 3306